header{
    display: grid;
    grid-template-columns: 1fr 3fr; /* Divido el header en 2 cuadriculas*/
}
.fotoPerfil{
    background-color: #3498DB;
    text-align:center;
}
.perfil{
     /* cambia estos dos valores para definir el tamaño de tu círculo */
     height: 150px;
     width: 150px;
     /* los siguientes valores son independientes del tamaño del círculo */
     background-repeat: no-repeat;
     background-position: 50%;
     border-radius: 50%;
     background-size: 100% auto;
     margin: 0 auto;
}
.acercaDe{
    background-color: #D6DBDF;
}
.miNombre{
    text-align: center;
    color: whitesmoke;
}
.iconSocial{
    width: 25px;
    height: 25px;
}
a:hover{text-decoration:none;} a{text-decoration:none;} a:visited{color: #D6DBDF;
} /* sacar subrayado en los links y color a los links*/
.iconPersonal{
    width: 25px;
    height: 25px;
    
}
.iconsAction{
    display: flex;
    justify-content: flex-end;
    padding-top: 2px;
}
.acerca{
    font-size: large;
}
section{
    display: grid;
    grid-template-columns: 1fr 3fr; /* Divido el header en 2 cuadriculas*/
}
nav{
    background-color: #3498DB;
}
aside{
    background-color: #D6DBDF;
}
.estudios{
    list-style-type: disclosure-closed;
}
li::marker{
    color:#3498DB;
}
.datosPersonales{
    color: black;
}
.iconDatosPersonales{
    width: 20px;
    height: 20px;
}